


#navbar{
    width:70%;
    margin:auto;
    border-bottom: 1px solid  rgb(188, 188, 194);
    padding:10px;
} 


#TopnavBar{
    display:flex;
    width:100%; 
   
    
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    margin-bottom: 10px;

}
.small-image{
    height:40px;
    width:40px;
}

.medium-image{
    height:80px;
    width:80px;
}



#TopnavBar >div:nth-child(1){
  width:20%;
  justify-content: center;
  
}

#TopnavBar >div:nth-child(2){
    width:25%;
    display:flex;
    justify-content: center;
    
  }

  #TopnavBar >div:nth-child(3){
    display:flex;
    width:35%;
    justify-content: flex-end;
    align-items: center;
    
    justify-content: space-evenly;
  }

  
  #search-bar{
    display:flex;
    border-radius: 5px;
    padding:5px 10px;
    width:55%;
    justify-content: space-between;
    box-shadow: 0px 0px 1px 1px rgb(188, 188, 194);
    
  }
  #search-bar img{
    height:20px;
    width:20px;
  }

  #search-bar input{
    border:none;
    outline: none;
  }
  

  #secondnav{
    display: flex;
    justify-content: space-evenly;
  }
  
  #secondnav a{
    text-decoration: none;
    padding-right:5px;
    padding-bottom:10px;    
  }

  #secondnav >div{
    padding: 10px;
  }

  .border{

    border-right: 1px solid   rgb(188, 188, 194);
} 

#secondnav  a:hover{
    border-bottom: 1px solid  rgb(188, 188, 194); ;
}


#top-banner{
    height: 400px;
    width:70%;
  
    border-radius: 10px;
    margin:auto;
    margin-top: 20px;
}
#top-banner img{
    height:80%;
    width:100%;
    border-radius: 10px;
}

.pagination{
    height:10%;
    width:70%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pagination-tab{
    border: 2px solid black;
    width: 8px;
    height: 5px;
    display:inline;
    content: " ";
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;
}

.pagination-tab2{
    border: 2px solid black;
    width: 8px;
    height: 5px;
    display:inline;
    content: " ";
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;
}
#mid-banner{
    height:200px;
    width:70%;
    margin:auto;
    
}

#mid-banner img{
    height: 100%;

    width:100%;
    border-radius: 10px;
  }
  

#last-banner{
    height:120px;
    width:70%;
    margin:auto;
    margin-top: 15px;
}
#last-banner img{
    height: 80%;
    width:100%;
}

#product-heading h2{
    color:#475D4B;
    text-align: center;
}
#product-heading h2::before{
    content: " ";
    height:2px;
    

}
#product{
    width:60%;
    margin:auto;
}

.product-heading h2{
    position: relative;
    text-align: center  ;
    margin: 20px auto;
    max-width: 500px;

}

.product-heading h2::before{
    content: " ";
    display: block;
    height:2px;
    background-color: #475D4880;
    width:150px;
    position:absolute;
    top:50%;
    left:0;
}
.product-heading h2::after{
    content: " ";
    display: block;
    height:2px;
    background-color: #475D4880;
    width:150px;
    position:absolute;
    top:50%;
    right:0;
}

#product-page{
    width:100%;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 330px;
    gap:20px;
}

.product-box{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    
}
.product-box p{
    font-size: 12px;
    margin:0px;
}
.product-image{
    height:60%;
    width:100%;
    }
.product-btn{
    width:100%;
    height:30px;
    background-color: rgb(94, 93, 93);
    color:white;
    border-radius: 5px;
    
}

.product-innerBox{
    height:28%;
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-box h5{
    margin-top: 0px;
    margin-bottom: 5px  ;
}
.product-box h3{
    margin:0px;
}
#product-slide{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
}
 
.slideButton{
    border: 1px solid black;
    width: 8px;
    height: 5px;
    display:inline;
    content: " ";
    border-radius: 50%;
    background-color: white;
    margin-right: 3px;
    cursor: pointer;
    
}
.active, .pagination-tab:hover, .pagination-tab2:hover, .slideButton:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } 