body{
    margin:0;
    padding:0;
}

header,footer{
    background-color: gray;
    color:white;
    padding:3px;
    text-align: center;
    width:100%;
    

}

header>h1,footer>h1{
    font-size: 3vw;
    font-size-adjust: inherit;
    box-shadow: 0px 2px 5px 3px whitesmoke;
}

nav{
    width:100%;
}

#side-nav-bar{
    display: none;
}

#main-nav-bar{
    overflow: hidden;
    width:inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-nav-btn{
    display: none;
}


main{
    width:100%;
}


