@media screen and (max-width:400px)  {
    body{
        background-color :green;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-bar{
        width:10%;
        
       
   }

   #content{
          width:100%;
   }
}